[Desktop Entry]
Type=Application
Name=Music
Name[fr]=Musique
Name[ko]=음악
Name[nl_NL]=Muziek
Name[pt_BR]=Música
Name[sv]=Musik
Categories=Applications;
Exec=invoker --single-instance --type=qtcomponents-qt5 /usr/bin/asteroid-music
Icon=ios-musical-notes-outline
X-Asteroid-Center-Color=#31bee7
X-Asteroid-Outer-Color=#052442
